.light {
  --color-primary: rgb(89 89 146);
  --color-surface-tint: rgb(89 89 146);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(226 223 255);
  --color-on-primary-container: rgb(21 19 74);
  --color-secondary: rgb(93 92 113);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(227 224 249);
  --color-on-secondary-container: rgb(26 26 44);
  --color-tertiary: rgb(122 83 104);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(255 216 235);
  --color-on-tertiary-container: rgb(47 17 36);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(65 0 2);
  --color-background: rgb(252 248 255);
  --color-on-background: rgb(27 27 33);
  --color-surface: rgb(252 248 255);
  --color-on-surface: rgb(27 27 33);
  --color-surface-variant: rgb(228 225 236);
  --color-on-surface-variant: rgb(71 70 79);
  --color-outline: rgb(120 118 128);
  --color-outline-variant: rgb(200 197 208);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(48 48 54);
  --color-inverse-on-surface: rgb(243 239 247);
  --color-inverse-primary: rgb(194 193 255);
  --color-primary-fixed: rgb(226 223 255);
  --color-on-primary-fixed: rgb(21 19 74);
  --color-primary-fixed-dim: rgb(194 193 255);
  --color-on-primary-fixed-variant: rgb(65 65 120);
  --color-secondary-fixed: rgb(227 224 249);
  --color-on-secondary-fixed: rgb(26 26 44);
  --color-secondary-fixed-dim: rgb(198 196 221);
  --color-on-secondary-fixed-variant: rgb(69 69 89);
  --color-tertiary-fixed: rgb(255 216 235);
  --color-on-tertiary-fixed: rgb(47 17 36);
  --color-tertiary-fixed-dim: rgb(234 185 210);
  --color-on-tertiary-fixed-variant: rgb(96 60 80);
  --color-surface-dim: rgb(220 217 224);
  --color-surface-bright: rgb(252 248 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(246 242 250);
  --color-surface-container: rgb(240 236 244);
  --color-surface-container-high: rgb(234 231 239);
  --color-surface-container-highest: rgb(229 225 233);

  --color-custom-circularGlow-primary:rgb(242, 82, 186);
  --color-custom-circularGlow-secondary:rgb(151, 148, 242);
  --color-custom-circularGlow-secondary-variant:rgb(45, 51, 166);
  --color-custom-circularGlow-surface:rgb(242, 242, 242);

  --color-custom-pulsatingDots-primary:rgb(55, 60, 166);

}
