@font-face {
  font-family: "Dosis";
  src:
    local("Dosis"),
    url("../../assets/fonts/Dosis.ttf") format("truetype"),
}

* {
  font-family: 'Dosis', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-overflow: ellipsis;
}

:root {
  --display-large: 57px;  
  --display-medium: 45px;  
  --display-small: 36px;  
  
  --headline-large: 32px;  
  --headline-medium: 28px;  
  --headline-small: 24px;  
  
  --label-large: 14px;  
  --label-medium: 12px;  
  --label-small: 11px;  
  
  --title-large: 22px;  
  --title-medium: 16px;  
  --title-small: 14px;  
  
  --body-large: 16px;  
  --body-medium: 14px;  
  --body-small: 12px;
}  

