.container {
  width: auto;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  filter: drop-shadow(
    1px 1px 5px color-mix(in srgb, var(--color-shadow) 10%, transparent)
  );

  background: color-mix(in srgb, var(--color-primary-fixed) 50%, transparent);
}

.button {
  padding: 8px;
}

.button > svg {
  min-width: 24px;
  color: var(--color-on-primary-fixed);
  background-color: transparent;
}
