.button {
  --sky-start: #030626;
  --sky-middle: #3c1e77;
  --sky-end: #6767e1;

  --cloud1: #fdfbff;
  --cloud2: #9d90f1;
  --cloud3: #cb53bc;
  --cloud4: #292fa6;
  --cloud5: #17176d;

  --title:#fdfbff;
  --loading: #F149A9;

  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    var(--sky-start),
    var(--sky-middle),
    var(--sky-end)
  );
}

/* Searching Hover */
.searching:not(:disabled):hover > .content > .sky .cloud {
  transform: translateY(100%);
}

.searching:not(:disabled):hover > .content > .title {
  transform: translateY(-60%);
  color: var(--color-error);
}

.searching:not(:disabled):hover > .loading {
  background-image: conic-gradient(var(--color-error), transparent 50%);
  filter: drop-shadow(0px 0px 5px var(--color-error));
}

/* disabled */
.button:disabled {
  filter: grayscale(100%);
}

.button:disabled > .content > .sky {
  rotate: 0deg;
  transform: translateY(50%);
}

.button:disabled > .content > .sky > .cloud {
  transform: translateY(50%);
}

/* available */

@keyframes glowing {
  0% {
    filter: drop-shadow(0px 0px 0px var(--title));
  }

  50% {
    filter: drop-shadow(0px 0px 0px var(--title));
  }

  75% {
    filter: drop-shadow(0px 0px 3px var(--title));
  }

  100% {
    filter: drop-shadow(0px 0px 0px var(--title));
  }
}

.available > .content > .sky {
  rotate: 0deg;
}

.available > .content > .sky > .cloud {
  transform: translateY(70%);
}

.available > .content > .title {
  transform: translateY(-150%);
  animation: glowing 5s infinite linear;
}

/* Sky */

.sky {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  rotate: -35deg;
  transform-origin: center;
  transition: rotate 5s cubic-bezier(0.16, 1, 0.3, 1),
    transform 5s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Title */

.title {
  position: absolute;
  color: #fdfbff;
  font-size: 16px;
  transition: 3s;
  bottom: 50%;
  left: 50%;
  translate: -50% 50%;
  transform-origin: center center;
  font-weight: bold;
}

/* Cloud */

.cloud {
  width: 45%;
  position: absolute;
  transform-origin: center center;
  animation: movement 10s infinite ease-in-out alternate;
  transition: transform 5s cubic-bezier(0.16, 1, 0.3, 1);
}

.cloud1 {
  filter: drop-shadow(0px 0px 1px var(--cloud1));
}

.cloud2 {
  filter: drop-shadow(0px 0px 1px var(--cloud2));
}

.cloud3 {
  filter: drop-shadow(0px 0px 1px var(--cloud3));
}

.cloud4 {
  filter: drop-shadow(0px 0px 1px var(--cloud4));
}

.cloud5 {
  filter: drop-shadow(0px 0px 1px var(--cloud5));
}

/*  50% - 40%  */
.cloud:nth-of-type(1) {
  bottom: 50%;
  left: 0;
}
.cloud:nth-of-type(2) {
  bottom: 43%;
  left: 25%;
}
.cloud:nth-of-type(3) {
  bottom: 45%;
  right: -20%;
}

/*  40% - 30%  */
.cloud:nth-of-type(4) {
  bottom: 39%;
  left: -5%;
}
.cloud:nth-of-type(5) {
  bottom: 34%;
  right: 10%;
}
.cloud:nth-of-type(6) {
  bottom: 30%;
  right: 50%;
}
.cloud:nth-of-type(7) {
  bottom: 36%;
  right: -10%;
}

/*  30% - 20%  */
.cloud:nth-of-type(8) {
  bottom: 24%;
  right: 10%;
}
.cloud:nth-of-type(9) {
  bottom: 29%;
  right: 40%;
}
.cloud:nth-of-type(10) {
  bottom: 22%;
  left: -20%;
}

/*  20% - 10%  */

.cloud:nth-of-type(11) {
  left: 55%;
  bottom: 15%;
}
.cloud:nth-of-type(12) {
  right: 30%;
  bottom: 18%;
}
.cloud:nth-of-type(13) {
  left: 10%;
  bottom: 13%;
}

/*  10% - 0%  */

.cloud:nth-of-type(14) {
  left: 45%;
  bottom: -3%;
}

.cloud:nth-of-type(15) {
  left: 15%;
  bottom: -15%;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transform-origin: center;
  background-image: conic-gradient(var(--loading), transparent 50%);
  filter: drop-shadow(0px 0px 5px var(--loading));
  animation: rotating infinite linear 5s;
  border-radius: 50%;
  scale: 1.005;
  opacity: 0;
  transition: opacity 3s,background-image 3s;
}

@keyframes rotating {
  100%{
    rotate: -360deg;
  }
}
